@charset "utf-8";

@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans/OpenSans-Regular.eot");
  src: url("/fonts/OpenSans/OpenSans-Regular.eot?#iefix") format('embedded-opentype'),
  url("/fonts/OpenSans/OpenSans-Regular.woff2") format('woff2'),
  url("/fonts/OpenSans/OpenSans-Regular.woff") format('woff'),
  url("/fonts/OpenSans/OpenSans-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("/fonts/OpenSans/OpenSans-SemiBold.eot");
  src: url("/fonts/OpenSans/OpenSans-SemiBold.eot?#iefix") format('embedded-opentype'),
  url("/fonts/OpenSans/OpenSans-SemiBold.woff2") format('woff2'),
  url("/fonts/OpenSans/OpenSans-SemiBold.woff") format('woff'),
  url("/fonts/OpenSans/OpenSans-SemiBold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Exo2";
  src: url("/fonts/Exo2/Exo2-Regular.eot");
  src: url("/fonts/Exo2/Exo2-Regular.eot?#iefix") format('embedded-opentype'),
  url("/fonts/Exo2/Exo2-Regular.woff2") format('woff2'),
  url("/fonts/Exo2/Exo2-Regular.woff") format('woff'),
  url("/fonts/Exo2/Exo2-Regular.ttf") format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Exo2";
  src: url("/fonts/Exo2/Exo2-SemiBold.eot");
  src: url("/fonts/Exo2/Exo2-SemiBold.eot?#iefix") format('embedded-opentype'),
  url("/fonts/Exo2/Exo2-SemiBold.woff2") format('woff2'),
  url("/fonts/Exo2/Exo2-SemiBold.woff") format('woff'),
  url("/fonts/Exo2/Exo2-SemiBold.ttf") format('truetype');
  font-weight: 700;
  font-style: normal;
}

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Exo2", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma


@import "../node_modules/bulma/bulma";
